/* .amazingDiscountImg {
    width: 1440px;
    height: 600px;
    top: 128px;
    background-repeat: no-repeat;
    background-image: url(./imgDiscount.png);
    margin: 0 auto;
} */

.amazingDiscountImg {
    width: 100vw; 
    height: 600px; 
    max-width: 1440px;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    background-image: url(./imgDiscount.png);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.amazingDiscountH {
    font-family: Montserrat;
    font-size: 80px;
    font-weight: 700;
    line-height: 105.6px;
    text-align: left;
    color: #FFFFFF;
}
.amazingDiscountButton {
    font-family: montserrat !important;;
    font-size: 20px !important;;
    font-weight: 600 !important;;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF !important;
    border-radius: 7px;
    background-color: #92A134;
    border: none;
    height: 58px;
    width: 218px;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; 
    cursor: pointer; 
    margin: 20px 30px;
}
h1 {
    width: 1200px;
}
.discountText {
    width: 1360px;
    height: 400px;
    margin: 0 auto;
    top: 40px;
}
.leer {
    width: 1360px;
    height: 74px;
    margin: 0 auto;
}