.footer {
    width: 1440px;
    height: 948px;
    margin: 0 auto;
}

.footerH {
    font-family: Montserrat;
    font-size: 50px; 
    font-weight: 700;
    color: #424436;
    padding: 36.8px; 
}


    
 .footer{

    height: 800px;
    width: 1360px;
    margin: 0 auto;
}

.cards1 {
    width: 728.8px; 
    height: 138px; 
    background-color: #F2F6D3;
    padding: 25px;
    border: none;
    border-radius: 10px;
}

.cards2 {
    width: 460px; 
    height: 138px; 
    background-color: #F2F6D3;
    padding: 23px;
    border: none;
    border-radius: 10px;
}

.cardsMain1 {
    display: flex;
    justify-content: space-between;
}

.cardsMain2 {
    display: flex;
    justify-content: space-between;
    margin-top: 27.6px; 
}

.contactP {
    font-family: Montserrat;
    font-size: 18.4px; 
    font-weight: 500;
    color: #8B8B8B;
}

.contactA {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 32.2px; 
    color: rgb(57, 56, 56);
}

.map {
    margin-top: 55.2px; 
}

.contactInstaWhats {
    font-size: 34.96px; 
    color: #424436;
    margin-right: 18.4px; 
}