.card {
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    padding: 3px;
    justify-content: space-between;
    width: 800px;
    margin: 10px auto;
    position: relative;
    align-items: stretch;
}

.card img{
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.title {
    position: absolute;
    top: 0; 
    left: 25%;
    font-family: montserrat;
}

.card svg {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
}

.quantityControls {
    position: absolute;
    left: 30%;
}

.quantityPrice > p {
    font-size: 30px;
    font-weight: 550;
    color: rgb(66, 65, 65);
    margin-right: 10px;
    font-family: montserrat;
  }
  
.quantityPrice > span {
    font-size: 20px; 
    color: lightgray; 
    text-decoration: line-through; 
    
  }