.container {
    background-color: #FFFFF1;  
    padding: 20px;
}

.headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    margin-bottom: 10px;
}

.title {
    font-size: 50px; 
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold; 
    color: #424436;  
    padding-left: 25px; 
}

.line {
    flex-grow: 1; 
    height: 2px; 
    margin-left: 15px; 
    margin-right: 0;
}

.rectangle {
    border: 1px solid #DDDDDD;
    padding: 5px;
    border-radius: 5px;
    background-color: transparent; 
}

.rectangleText {
   
    border-radius: 5px;
    padding: 5px;
    margin-right: 28px;
}

.rectangleText:hover {
    text-decoration: underline; 
}

.categoriesList {
    display: flex;
    justify-content: space-between; 
    flex-wrap: nowrap; 
    gap: 10px; 
}