.main_page {
  background-color: #fffff1;
  padding: 0;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title {
  font-size: 50px;
  font-weight: bold;
  color: #424436;
  padding-left: 25px;
  font-family: montserrat;
  line-height: 70.4px;
}

.line {
  flex-grow: 1;
  height: 2px;
  background-color: lightgrey;
  margin-left: 15px;
  margin-right: 0;
}

.rectangleText {
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding: 5px 10px;
  font-weight: 300;
  font-size: 15px;
  color: lightgrey;
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
}

.sales_block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.sale_text {
  font-size: 50px;
  font-weight: bold;
  color: #424436;
  padding-left: 25px;
  font-family: montserrat;
  line-height: 70.4px;
}

.separator {
  flex-grow: 1;
  height: 2px;
  background-color: lightgrey;
  margin-left: 15px;
  margin-right: 0;
}

.main_page a {
  text-decoration: none;
  color: black;
  font-weight: 300;
  font-size: 15px;
  color: lightgray;
}

.all_sales_link {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  margin-right: 28px;
}

@media (max-width: 480px) {
  .headerContainer {
    display: flex;
    align-items: center;
    margin-top: 45px;
    padding: 0 20px;
  }

  .title {
    font-size: 48px;
    color: #424436;
    padding-left: 0px;
    font-family: Montserrat;
    font-weight: 700px;
    line-height: 52.8px;
    text-align: left;
    margin-left: 0;
    width: auto;
    margin: 0;
  }

  .rectangleText {
    border: 1px solid lightgrey;
    border-radius: 6px;
    padding: 5px 10px;
    font-weight: 500;
    font-size: 15px;
    color: lightgrey;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
  }
}
