.main_page {
    background-color: #FFFFF1;
    padding: 20px;
}

.sales_block {
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.sale_text {
    font-size: 50px; 
    font-weight: bold; 
    color: #424436;
    padding-left: 22px;
    font-family: montserrat;
}

.separator {
    flex-grow: 1; 
    height: 2px; 
    background-color: lightgrey; 
    margin-left: 15px; 
    margin-right: 0;
}

.main_page a {
    text-decoration: none;
    color: black;
    font-weight: 300;
    font-size: 15px; 
    color: lightgray;
}

.all_sales_link{
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
   
    
}