.not_found_page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh; 
    text-align: center;
    font-family: Arial, sans-serif;
    padding: 40px;
    background-color: #F5F5DC; 
 }

 .not_found_content {
    display: flex;
    justify-content: center;
    align-items: center;
  }


.number {
    font-size: 155px;
    color: #92A134;
    font-weight: bolder;
    margin: 0 10px;
  }

.not_found_page img {
    width: 160px;
    height: auto;
}

.error_text {
    font-size: 36px;
    color: #333;
    font-weight: bold;
    margin-top: 20px;
    font-family: montserrat;
  }

  .button {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 30px;
    background-color: #92A134; 
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-family: montserrat;
  }
  
  .button:hover {
    background-color: #7C8C28;
    text-decoration: none;
  }

  .subtext{
    font-size: 18px;
    color: #666;
    margin-top: 10px;
    line-height: 1.5;
     
  }