.discountProductsContainer {
    height: 1400px;
    background-color: #fcfdef;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
h1 {
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 700;
    text-align: left;
    margin: 0 30px;
    color: #424436;
}